/* * {
	background-color: #80ff8416;
	outline: 1.5px solid rgb(0, 255, 0) !important;
} */


/* ------ variabel color website  ------ */

:root {
	--main-color-black: #262626;
	--main-color-black-opacity: rgb(38, 38, 38, 0.8);
	--main-color-white: #fff;
	--main-color-white-opacity: rgb(255, 255, 255, 0.8);

	--primary-color-1000: #240046;
	--primary-color-800: #3C096C;
	--primary-color-600: #5A189A;
	--primary-color-400: #7B2CBF;
	--primary-color-200: #9D4EDD;

	--secondary-color-1000: #ff9e00;
	--secondary-color-800: #ff9100;
	--secondary-color-600: #ff8500;
	--secondary-color-400: #ff7900;
	--secondary-color-200: #ff6d00;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Mulish', sans-serif; */

@font-face {
	font-family: 'agencyFB';
	src: url("../font/AgencyFBBold.woff") format("woff");
}

@font-face {
	font-family: 'agencyFB-thin';
	src: url("../font/AGENCYR.woff") format("woff");
}

@font-face {
	font-family: 'Username';
	src: url(Font/KGHAPPYSolid.ttf) format("ttf");
}

span.mark {
	opacity: 0.7;
}





/* ------ start navbar ------ */

nav {
	background-color: var(--main-color-black-opacity);
	width: 100%;
	height: 4rem;
	position: fixed;
	z-index: 90;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .logo-nav {
	font-family: 'agencyFB';
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-left: 20px;
}

.logo-nav>img.logo-web {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
	width: 32px;
}

.logo-nav>h1 {
	color: var(--main-color-white);
	letter-spacing: .3px;
	font-size: 20px;
	margin-left: 8px;
}


nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

nav li:first-child a {
	border-radius: 2px;
	/* color: var(--main-color-black-opacity); */
	background: linear-gradient(135deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
}

nav ul li a {
	font-family: 'Poppins', sans-serif;
	color: var(--main-color-white);
	text-decoration: none;
	text-transform: uppercase;
	font-family: serif;
	font-size: .9em;
	letter-spacing: .1px;
	margin-left: 10px;
	transition: .2s;
	border-radius: 1px;
	padding: 7px;
	transition: .3s;
	display: block;
}

nav ul li a:hover {
	opacity: .8;
}

/* ------ ( animation navbar ) ------ */

nav ul li:nth-child(1) {
	animation: backwards FallDown 700ms;
}

nav ul li:nth-child(2) {
	animation: backwards FallDown 700ms;
	animation-delay: 100ms;
}

nav ul li:nth-child(3) {
	animation: backwards FallDown 700ms;
	animation-delay: 200ms;
}

nav ul li:nth-child(4) {
	animation: backwards FallDown 700ms;
	animation-delay: 300ms;
}


@keyframes FallDown {
	0% {
		transform: translate(0, -240%);
		filter: opacity(0);
	}

	100% {
		transform: translate(0, 0);
		filter: opacity(1);
	}
}

/* ------ end navbar ------ */







/* ------ start [home] page ------ */

section.home-page {
	background-color: var(--main-color-black);
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	position: relative;
}

.home-page svg {
	position: absolute;
	bottom: 0;
	left: 0;
}

.home-page .home-col-1 {
	display: flex;
	align-items: center;
}
.home-page .home-col-2 {
	display: flex;
	align-items: end;
	justify-content: center;
}
.home-page .home-img img {
	margin-bottom: 15px;
	height: 500px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.home-page .home-text {
	cursor: default;
	color: var(--main-color-white);
	margin-left: 30px;
}

.home-page .home-regards {
	position: relative;
	text-shadow: 0 0 0 white;
	font-family: 'Mulish', serif;
	font-size: 1rem;
	opacity: .9;
	width: max-content;
	border-radius: 3px;
	padding: 6px 14px;
	color: #fff;
	background: linear-gradient(135deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
	transition: .3s .3s;
}

.home-regards::before {
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: 3px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff8500;
	transition: .5s;
}

.home-regards:hover::before {
	width: 0%;
}

.home-page .home-name {
	font-family: 'Poppins', sans-serif;
	font-size: 2.7rem;
	letter-spacing: -1px;
	margin-top: 12px;

}

.home-page .home-role {
	font-family: 'Mulish', serif;
	font-size: 1.1rem;
	margin-top: 10px;
}

.home-page .home-description {
	line-height: 17px;
	margin-top: 10px;
	font-size: .9rem;
	text-align: left;
	opacity: .6;
	max-width: 44vw;
}

.home-page .home-icon {
	width: 100%;
	bottom: 0;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: space-around;
}

.home-page .group-icon {
	color: var(--main-color-black);
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.519);
	font-family: 'Poppins', sans-serif;
	font-size: .9rem;
	letter-spacing: 1px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.home-page .group-icon:nth-child(2),
.home-page .group-icon:nth-child(4) {
	margin-bottom: 30px;
}

.home-page .group-icon img {
	width: 20px;
	margin-right: 5px;
}

.home-page .group-icon h1 {
	text-transform: capitalize;
}

/* ------ end [home] page ------ */





/* ------ start [about] page ------ */

section.about-page {
	color: var(--main-color-black);
	box-sizing: border-box;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	background-color: var(--secondary-color-600);
}

.about-page .about-col-2 h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.45rem;
	text-align: center;
}

.about-page .about-col-2 p {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	text-align: justify;
	opacity: 1;
	line-height: 18px;
}

/* ------ End [about] page ------ */



/* ------ start [service] page ------ */
section.service-page {
	background-color: var(--main-color-black);
	width: 100%;
	height: 100vh;
	position: relative;
}

.service-page svg {
	position: absolute;
	top: 0;
	left: 0;

}















@media (max-width: 767px) {
	/* nav ul li {
		display: none;
	} */

	section.about-page {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1, 1fr);
	}

	.about-page .about-col-2 {
		margin-bottom: 20px;

		padding: 20px 30px;
		border-radius: 4px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	}
}