/* * {
	background-color: #80ff8416;
	outline: 1.5px solid rgb(0, 255, 0) !important;
} */


/* ------ variabel color website  ------ */

:root {
	--main-color-black: #262626;
	--main-color-black-opacity: rgb(38, 38, 38, 0.8);
	--main-color-white: #fff;
	--main-color-white-opacity: rgb(255, 255, 255, 0.8);

	--primary-text-slate-1: #2d2d2d;
	--primary-text-slate-2: #414141;
	--secondary-text-slate-1: #cbcbcb;
	--secondary-text-slate-2: #aaa9a9;

	--primary-color-1000: #fcba04;
	/* --primary-color-800: #3C096C;
	--primary-color-600: #5A189A;
	--primary-color-400: #7B2CBF;
	--primary-color-200: #9D4EDD; */

	--secondary-color-1000: #031d44;
	/* --secondary-color-800: #ff9100;
	--secondary-color-600: #ff8500;
	--secondary-color-400: #ea6e01;
	--secondary-color-200: #ff6d00; */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Mulish', sans-serif; */

@font-face {
	font-family: 'agencyFB';
	src: url("../font/AgencyFBBold.woff") format("woff");
}
@font-face {
	font-family: 'agencyFB-thin';
	src: url("../font/AGENCYR.woff") format("woff");
}




/* ------ start navbar ------ */

nav {
	background-color: var(--main-color-black-opacity);
	width: 100%;
	height: 4rem;
	position: fixed;
	z-index: 90;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .logo-nav {
	font-family: 'agencyFB';
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-left: 20px;
}

.logo-nav>img.logo-web {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
	width: 32px;
}

.logo-nav>h1 {
	color: var(--main-color-white);
	letter-spacing: .3px;
	font-size: 1.2rem;
	margin-left: 8px;
}


nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

nav ul li a {
	font-family: 'Poppins', sans-serif;
	color: var(--secondary-text-slate-1);
	text-decoration: none;
	text-transform: uppercase;
	font-family: serif;
	font-size: .8rem;
	letter-spacing: .5px;
	margin-left: 10px;
	transition: .2s;
	border-radius: 1px;
	padding: 7px;
	transition: .3s;
	display: block;
}

nav ul li a:hover {
	opacity: .8;
}

/* ------ ( animation navbar ) ------ */

nav ul li:nth-child(1) {
	animation: backwards FallDown 700ms;
}

nav ul li:nth-child(2) {
	animation: backwards FallDown 700ms;
	animation-delay: 100ms;
}

nav ul li:nth-child(3) {
	animation: backwards FallDown 700ms;
	animation-delay: 200ms;
}

nav ul li:nth-child(4) {
	animation: backwards FallDown 700ms;
	animation-delay: 300ms;
}


@keyframes FallDown {
	0% {
		transform: translate(0, -240%);
		filter: opacity(0);
	}

	100% {
		transform: translate(0, 0);
		filter: opacity(1);
	}
}

/* ------ end navbar ------ */







/* ------ start [home] page ------ */

section.home-page {
	background-color: var(--main-color-black);
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	position: relative;
	background: linear-gradient(to bottom, var(--main-color-black), #1a1a1a)
}

.home-page svg {
	position: absolute;
	bottom: 0;
	left: 0;
}

.home-page .home-col-1 {
	display: flex;
	align-items: center;
}

.home-page .home-col-2 {
	display: flex;
	align-items: end;
	justify-content: center;
}

.home-page .home-img img {
	height: 490px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.home-page .home-text {
	cursor: default;
	color: var(--main-color-white);
	margin-left: 30px;
}

.home-page .home-regards {
	color: var(--primary-color-1000);
	position: relative;
	font-family: 'Mulish', serif;
	font-size: 1rem;
	width: max-content;
	/* border-radius: 3px;
	padding: 6px 14px;
	background: linear-gradient(135deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
	transition: .3s .3s; */
}

.home-page .home-name {
	font-family: 'Poppins', sans-serif;
	font-size: 2.7rem;
	letter-spacing: -1px;
	margin-top: 7px;
	/* background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); */
	background-image: linear-gradient(-225deg, #FFFEFF 0%, #fff4d7 100%);
	background-clip: text;
	color: transparent;
}

.home-page .home-role {
	font-family: 'Mulish', serif;
	font-size: 1.1rem;
	margin-top: 10px;
	color: var(--primary-color-1000);
}
.home-page .home-description {
	line-height: 17px;
	margin-top: 7px;
	font-size: .85rem;
	text-align: left;
	color: var(--secondary-text-slate-2);
	max-width: 44vw;
}
.home-page .hire {
	margin-top: 16px;
}

.home-page .hire a {
	font-size: .9rem;
	color: var(--primary-color-1000);
	font-style: none;
	text-decoration: none;
	border: 2px solid var(--primary-color-1000);
	max-width: max-content;
	border-radius: 1px;
	padding: 2px 14px;
}
.home-page .hire a:hover {
	background-color: var(--primary-color-1000);
	color: var(--main-color-black);
}


/* ------ end [home] page ------ */





/* ------ start [about] page ------ */

section.about-page {
	color: var(--main-color-black);
	box-sizing: border-box;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	background-color: var(--primary-color-1000);
}

.about-page .about-col-1 h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}

.about-page .about-col-1 p {
	color: var(--primary-text-slate-1);
	margin-top: 20px;
	font-family: 'Mulish', sans-serif;
	font-size: .85rem;
	text-align: justify;
	opacity: 1;
	line-height: 18px;
}

.about-page .group-text {
	width: 200px;
	display: flex;
	justify-content: space-between;
}

/* ------ End [about] page ------ */



/* ------ start [service] page ------ */
section.service-page {
	background-color: var(--main-color-black);
	width: 100%;
	height: 100vh;
	position: relative;
}

.service-page svg {
	position: absolute;
	top: 0;
	left: 0;

}















@media (max-width: 767px) {
	/* nav ul li {
		display: none;
	} */
	section.about-page {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1, 1fr);
	}

	.about-page .about-col-2 {
		margin-bottom: 20px;

		padding: 20px 30px
	}
}